id,name,description,active,default_code,categ_id:id,list_price,standard_price,weight,taxes_id,property_account_income_id,property_account_expense_id,type,state,uom_id:id,valuation
scenario.product_100000,Vorlage-Artikel Lieferant: HugeWin,,TRUE,100000,scenario.product_category_R0_099,0,0,0,TVA due à 8.0% (Incl. TN),3200,4200,product,sellable,product.product_uom_unit,manual_periodic
scenario.product_100001,Vorlage-Artikel Lieferant: B.E.G.,,TRUE,100001,scenario.product_category_R0_099,0,0,0,TVA due à 8.0% (Incl. TN),3200,4200,product,sellable,product.product_uom_unit,manual_periodic
scenario.product_100002,Vorlage-Artikel Lieferant: Elektro Material AG,,TRUE,100002,scenario.product_category_R0_099,0,0,0,TVA due à 8.0% (Incl. TN),3200,4200,product,sellable,product.product_uom_unit,manual_periodic
scenario.product_100004,Vorlage-Artikel: IL,,TRUE,100004,scenario.product_category_R203_101,0,0,0,"Taxe VRG 700180,TVA due à 8.0% (Incl. TN)",3200,4200,product,sellable,product.product_uom_unit,manual_periodic
scenario.product_141068,PD2 S MAX NME DUO-DALI,"Präsenzmelder Dimm 2x DALI-DSI, ohne Farbblende",TRUE,141068,scenario.product_category_R201_002,328,0.9,0,TVA due à 8.0% (Incl. TN),3200,4200,product,draft,product.product_uom_unit,manual_periodic
scenario.product_141103,AL2 RC-plus 130/DNW,"Leuchte mit Bewegungsmelder, weiss",TRUE,141103,scenario.product_category_R202_004,225,52.74,2.7,"Taxe VRG 700180,TVA due à 8.0% (Incl. TN)",3200,4200,product,sellable,product.product_uom_unit,manual_periodic
scenario.product_141129,AL2 RC-plus 130/DNS,"Leuchte mit Bewegungsmelder, schwarz",TRUE,141129,scenario.product_category_R202_004,225,52.74,1.7,"Taxe VRG 700180,TVA due à 8.0% (Incl. TN)",3200,4200,product,sellable,product.product_uom_unit,manual_periodic
scenario.product_141131,CDS R,Dämmerungsschalter,TRUE,141131,scenario.product_category_R205_005,51,8.946,0.072,TVA due à 8.0% (Incl. TN),3200,4200,product,sellable,product.product_uom_unit,manual_periodic
scenario.product_141132,F2 CM/W,"Strahler für Bewegungsmelder RC-plus next, weiss",TRUE,141132,scenario.product_category_R202_003,45,13.5,1.68,"Taxe VRG 700180,TVA due à 8.0% (Incl. TN)",3200,4200,product,sellable,product.product_uom_unit,manual_periodic
scenario.product_141133,F2 CM/S,"Strahler für Bewegungsmelder RC-plus next, schwarz",TRUE,141133,scenario.product_category_R202_003,45,13.5,1.68,"Taxe VRG 700180,TVA due à 8.0% (Incl. TN)",3200,4200,product,sellable,product.product_uom_unit,manual_periodic
scenario.product_141138,GL-AL-OP,Ersatzglas Opal,TRUE,141138,scenario.product_category_R202_007,33,7.4,1.1,TVA due à 8.0% (Incl. TN),3200,4200,product,sellable,product.product_uom_unit,manual_periodic
scenario.product_141139,GL-AL-BB,Ersatzglas Blasen,TRUE,141139,scenario.product_category_R202_007,35,7.75,0.755,TVA due à 8.0% (Incl. TN),3200,4200,product,sellable,product.product_uom_unit,manual_periodic
scenario.product_141142,AL2 RC-plus/DNW,"Leuchte ohne Bewegungsmelder, weiss",TRUE,141142,scenario.product_category_R202_004,192,40.9,2.6,"Taxe VRG 700180,TVA due à 8.0% (Incl. TN)",3200,4200,product,sellable,product.product_uom_unit,manual_periodic
scenario.product_141143,AL2 RC-plus 230/DNW,"Leuchte mit Bewegungsmelder, weiss",TRUE,141143,scenario.product_category_R202_004,288,71.1,2.8,"Taxe VRG 700180,TVA due à 8.0% (Incl. TN)",3200,4200,product,sellable,product.product_uom_unit,manual_periodic
scenario.product_141144,AL2 RC-plus 270/DNW,"Leuchte mit Bewegungsmelder, weiss",TRUE,141144,scenario.product_category_R202_004,358,84.86,2.9,"Taxe VRG 700180,TVA due à 8.0% (Incl. TN)",3200,4200,product,sellable,product.product_uom_unit,manual_periodic
scenario.product_141145,AL2 RC-plus/DNS,"Leuchte ohne Bewegungsmelder, schwarz",TRUE,141145,scenario.product_category_R202_004,192,40.9,1.6,"Taxe VRG 700180,TVA due à 8.0% (Incl. TN)",3200,4200,product,sellable,product.product_uom_unit,manual_periodic
scenario.product_141146,AL2 RC-plus 230/DNS,"Leuchte mit Bewegungsmelder, schwarz",TRUE,141146,scenario.product_category_R202_004,288,71.1,1.8,"Taxe VRG 700180,TVA due à 8.0% (Incl. TN)",3200,4200,product,sellable,product.product_uom_unit,manual_periodic
scenario.product_141147,AL2 RC-plus 270/DNS,"Leuchte mit Bewegungsmelder, schwarz",TRUE,141147,scenario.product_category_R202_004,358,84.86,1.9,"Taxe VRG 700180,TVA due à 8.0% (Incl. TN)",3200,4200,product,sellable,product.product_uom_unit,manual_periodic
scenario.product_141148,AL2 RC-plus 130/LTW,"Leuchte mit Bewegungsmelder, weiss",TRUE,141148,scenario.product_category_R202_004,215,50.48,1.6,"Taxe VRG 700180,TVA due à 8.0% (Incl. TN)",3200,4200,product,sellable,product.product_uom_unit,manual_periodic
scenario.product_141149,AL2 RC-plus 230/LTW,"Leuchte mit Bewegungsmelder, weiss",TRUE,141149,scenario.product_category_R202_004,278,68.841,1.7,"Taxe VRG 700180,TVA due à 8.0% (Incl. TN)",3200,4200,product,sellable,product.product_uom_unit,manual_periodic
scenario.product_141150,AL2 RC-plus 270/LTW,"Leuchte mit Bewegungsmelder, weiss",TRUE,141150,scenario.product_category_R202_004,348,82.605,1.8,"Taxe VRG 700180,TVA due à 8.0% (Incl. TN)",3200,4200,product,sellable,product.product_uom_unit,manual_periodic
scenario.product_141151,AL2 RC-plus/LTW,"Leuchte ohne Bewegungsmelder, weiss",TRUE,141151,scenario.product_category_R202_004,182,38.649,1.5,"Taxe VRG 700180,TVA due à 8.0% (Incl. TN)",3200,4200,product,sellable,product.product_uom_unit,manual_periodic
scenario.product_141152,AL2 RC-plus/LTS,"Leuchte ohne Bewegungsmelder, schwarz",TRUE,141152,scenario.product_category_R202_004,182,38.649,1.3,"Taxe VRG 700180,TVA due à 8.0% (Incl. TN)",3200,4200,product,sellable,product.product_uom_unit,manual_periodic
scenario.product_141153,AL2 RC-plus 130/LTS,"Leuchte mit Bewegungsmelder, schwarz",TRUE,141153,scenario.product_category_R202_004,215,50.48,1.4,"Taxe VRG 700180,TVA due à 8.0% (Incl. TN)",3200,4200,product,sellable,product.product_uom_unit,manual_periodic
scenario.product_141154,AL2 RC-plus 230/LTS,"Leuchte mit Bewegungsmelder, schwarz",TRUE,141154,scenario.product_category_R202_004,278,68.841,1.5,"Taxe VRG 700180,TVA due à 8.0% (Incl. TN)",3200,4200,product,sellable,product.product_uom_unit,manual_periodic
scenario.product_141155,AL2 RC-plus 270/LTS,"Leuchte mit Bewegungsmelder, schwarz",TRUE,141155,scenario.product_category_R202_004,348,82.605,1.6,"Taxe VRG 700180,TVA due à 8.0% (Incl. TN)",3200,4200,product,sellable,product.product_uom_unit,manual_periodic
scenario.product_141156,AL2 RC-plus/BBW,"Leuchte ohne Bewegungsmelder, weiss",TRUE,141156,scenario.product_category_R202_004,151,31.556,1.4,"Taxe VRG 700180,TVA due à 8.0% (Incl. TN)",3200,4200,product,sellable,product.product_uom_unit,manual_periodic
scenario.product_141157,AL2 RC-plus 130/BBW,"Leuchte mit Bewegungsmelder, weiss",TRUE,141157,scenario.product_category_R202_004,184,43.396,1.5,"Taxe VRG 700180,TVA due à 8.0% (Incl. TN)",3200,4200,product,sellable,product.product_uom_unit,manual_periodic
scenario.product_141158,AL2 RC-plus 230/BBW,"Leuchte mit Bewegungsmelder, weiss",TRUE,141158,scenario.product_category_R202_004,247,61.748,1.6,"Taxe VRG 700180,TVA due à 8.0% (Incl. TN)",3200,4200,product,sellable,product.product_uom_unit,manual_periodic
scenario.product_141159,AL2 RC-plus 270/BBW,"Leuchte mit Bewegungsmelder, weiss",TRUE,141159,scenario.product_category_R202_004,317,75.512,1.7,"Taxe VRG 700180,TVA due à 8.0% (Incl. TN)",3200,4200,product,sellable,product.product_uom_unit,manual_periodic
scenario.product_141160,AL2 RC-plus/BBS,"Leuchte ohne Bewegungsmelder, schwarz",TRUE,141160,scenario.product_category_R202_004,151,31.556,1.4,"Taxe VRG 700180,TVA due à 8.0% (Incl. TN)",3200,4200,product,sellable,product.product_uom_unit,manual_periodic
scenario.product_141161,AL2 RC-plus 130/BBS,"Leuchte mit Bewegungsmelder, schwarz",TRUE,141161,scenario.product_category_R202_004,184,43.396,1.5,"Taxe VRG 700180,TVA due à 8.0% (Incl. TN)",3200,4200,product,sellable,product.product_uom_unit,manual_periodic
scenario.product_141162,AL2 RC-plus 230/BBS,"Leuchte mit Bewegungsmelder, schwarz",TRUE,141162,scenario.product_category_R202_004,247,61.748,1.508,"Taxe VRG 700180,TVA due à 8.0% (Incl. TN)",3200,4200,product,sellable,product.product_uom_unit,manual_periodic
scenario.product_141163,AL2 RC-plus 270/BBS,"Leuchte mit Bewegungsmelder, schwarz",TRUE,141163,scenario.product_category_R202_004,317,75.512,1.7,"Taxe VRG 700180,TVA due à 8.0% (Incl. TN)",3200,4200,product,sellable,product.product_uom_unit,manual_periodic
scenario.product_141168,AL2 RC-plus/OPW,"Leuchte ohne Bewegungsmelder, weiss",TRUE,141168,scenario.product_category_R202_004,146,29.834,1.2,"Taxe VRG 700180,TVA due à 8.0% (Incl. TN)",3200,4200,product,sellable,product.product_uom_unit,manual_periodic
scenario.product_141169,AL2 RC-plus 130/OPW,"Leuchte mit Bewegungsmelder, weiss",TRUE,141169,scenario.product_category_R202_004,179,41.674,1.3,"Taxe VRG 700180,TVA due à 8.0% (Incl. TN)",3200,4200,product,sellable,product.product_uom_unit,manual_periodic
scenario.product_141170,AL2 RC-plus 230/OPW,"Leuchte mit Bewegungsmelder, weiss",TRUE,141170,scenario.product_category_R202_004,242,60.026,1.4,"Taxe VRG 700180,TVA due à 8.0% (Incl. TN)",3200,4200,product,sellable,product.product_uom_unit,manual_periodic
scenario.product_141171,AL2 RC-plus 270/OPW,"Leuchte mit Bewegungsmelder, weiss",TRUE,141171,scenario.product_category_R202_004,312,73.79,1.5,"Taxe VRG 700180,TVA due à 8.0% (Incl. TN)",3200,4200,product,sellable,product.product_uom_unit,manual_periodic
scenario.product_141172,AL2 RC-plus/OPS,"Leuchte ohne Bewegungsmelder, schwarz",TRUE,141172,scenario.product_category_R202_004,146,29.834,1.2,"Taxe VRG 700180,TVA due à 8.0% (Incl. TN)",3200,4200,product,sellable,product.product_uom_unit,manual_periodic
scenario.product_141173,AL2 RC-plus 130/OPS,"Leuchte mit Bewegungsmelder, schwarz",TRUE,141173,scenario.product_category_R202_004,179,41.674,1.3,"Taxe VRG 700180,TVA due à 8.0% (Incl. TN)",3200,4200,product,sellable,product.product_uom_unit,manual_periodic
scenario.product_141174,AL2 RC-plus 230/OPS,"Leuchte mit Bewegungsmelder, schwarz",TRUE,141174,scenario.product_category_R202_004,242,60.026,1.4,"Taxe VRG 700180,TVA due à 8.0% (Incl. TN)",3200,4200,product,sellable,product.product_uom_unit,manual_periodic
